<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".IbylinApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ibylin"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ibylin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 支持其他应用打开文件 -->
        <activity
            android:name=".reader.ReadiumEpubReaderActivity"
            android:exported="true"
            android:theme="@style/Theme.Ibylin">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        

            
        <activity
            android:name=".reader.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            
        <activity
            android:name=".ui.BookLibraryActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            

            
        <activity
            android:name=".ui.LocalBooksActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            
        <activity
            android:name=".ui.CoverSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name=".ui.PexelsTestActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            
        <activity
            android:name=".ui.UserAgreementActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            
        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            
        <activity
            android:name=".ui.AboutIbylinActivity"
            android:exported="false"
            android:theme="@style/Theme.Ibylin" />
            

            

            
        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
